/* #D0ECF2
#2E5902
#142601
#6CA632
#D93B18 */
:root {
    --font-group-light: "Gruppo", cursive;
    --font-geral-: "Roboto", sans-serif;
    --bg--902: #2e5902;
    --bg--601: #142601;
    --bg--632: #6ca632;
    --bg--b18: #d93b18;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 1px 2px #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--bg--902);
}

header #logo {
    margin-top: 11px;
    margin-bottom: 3px;
    padding-left: 10px;
    text-align: center;
}

header #logo h3 {
    font-size: 2rem;
    font-family: var(--font-geral-);
    color: var(--bg--902);
}

header #logo .logoNutri {
    font-size: 1rem;
    color: var(--bg--b18);
    font-family: var(--font-group-light);
    font-weight: 400;
}

#navMenu {
    width: 50%;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navMenu a {
    text-decoration: none;
    font-family: var(--font-geral-);
    color: #000000;
    font-weight: 500;
    transition: 0.7s ease-in-out;
    opacity: 0.8;
}

#navMenu a:hover {
    opacity: 1;
}

#navMenu #btnLogin {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#btnLogin i {
    font-size: 1.1rem;
    color: var(--bg--902);
    opacity: 0.9;
}

/* Parte do menu e cabeçalho */

#secaoSobre {
    background-image: linear-gradient(to right top,
            #cdcdcd,
            #cdcdd1d0,
            #cecdd5,
            #cdcddadd,
            #cdcddec6);
    width: 100%;
    margin-inline: auto;
    margin-top: 3px;
    padding-top: 50px;
}

#sobrePedro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    width: 50%;
}

#sobrePedro h1 {
    text-align: center;
    font-size: clamp(2rem, 1vw, 2.2rem);
    font-family: var(--font-geral-);
    color: var(--bg--902);
    padding-block: 10px;
}

#sobrePedro .logoNutri {
    color: var(--bg--b18);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1rem;
}

#sobrePedro p {
    text-align: justify;
    font-family: var(--font-geral-);
    line-height: 1.2;
}

.fotosSobre {
    width: 500px;
    height: 500px;
    margin-block: 20px;
}

/* Aqui finaliza a primeira section */

#objetivos {
    width: 100%;
}

#objetivos h2 {
    text-align: center;
    margin: 32px 0 20px 0;
}

.containerObjetivos { 
    margin-top: 15px;
    display: flex;
    align-items: center;
    /* justify-content: spacearound; */
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: #eceaea; */
}

.boxObjetivos{
    width: 400px;
    height: 250px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 100%, 0.711);
    text-align: center;
}

.boxObjetivos p{
    font-family: var(--font-geral-);
    font-size: 0.75rem;
    font-weight: 400;
}

.boxImg{
    width: 100%;
    /* height: auto; */
   
}

.boxImg img{
    width: 200px;
    height: 200px;
    background-size: cover;
    margin: 0 auto;
}